# Python
__pycache__/
*.py[cod]
*.pyo
.venv/

# Coverage
.coverage
htmlcov/

# pytest
.pytest_cache/

# Alembic (keep versions, ignore nothing extra)

# Environment
.env

# IDEs
.idea/
.vscode/
*.iml

# macOS
.DS_Store
